:root {

  --color-background: #F2F2F2;
  --color-text: #686868;
  --color-heading: #151515 ;
  --black: #151515;
  --white:#F2F2F2; 
  --medium-gray:#C4C4C4;
  --color-border: #151515;

  --font-main: 'Epilogue', sans-serif;
  --font-size-header: 80px;
  --font-size-header-mobile: 36px;
  --font-size-text: 18px;
  --font-size-text-mobile: 16px;
  --font-size-nav-logo: 35px;
}


/* Rétablissement des marges règles de bases ------------------------- */

* {
    margin: 0;
    padding: 0;
}


a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}


/* Règles génériques ----------------------- */

body {
  font-family: var(  --font-main);
  background: var(--color-background);

}

h1,
h2{
  color: var(--color-heading);
}

h1 {
  font-size: var(--font-size-nav-logo);
}


p{
  color: var(--color-text)
}

.chevron {
  height: 4px;
  width: 8px;
}

