/* Écran ----------------------------------------------------------------------------------------- */

@media (max-width:900px){
  .imageLargeScreen,
  .navLeft ul,
  .navRight ul{
    display: none;
  }

  .imageMobile{
    display: block;
  }

  .burger{
    display: flex;
  }

  main{
    display: block;
  }

  section h2,
  section p {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    max-width: 65ch;
  } 

  section h2 {
    font-size: var(--font-size-header-mobile);
    margin-top: 30px;
  }

  section button {
    margin: auto;
    margin-top: 30px;
  }


  aside{
    margin: auto;
    margin-top: 50px;
    max-width: 65ch;
  }

  section,
  main {
    padding: 0;
  }

  figure{
    width: 100%;
    padding: 0;
  }

}