/* Écran ----------------------------------------------------------------------------------------- */


@media (max-width:900px){


}
@media (max-width:1080px){


}

@media (min-width:1200px){



}

@media (max-width:700px){


}



@media (max-width:420px){
  .imageLargeScreen,
  .navLeft ul,
  .navRight ul{
    display: none;
  }

  .imageMobile{
    display: block;
  }

  .burger{
    display: flex;
  }
}